body {
  min-width: 700px;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid red;
}

.custom_container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.row {
  /* overiding bootstrap css */
  height: 7rem !important ;
}
